# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build

# Environment variables
.env*.local
!.env.example
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local development
.vercel

# Build files
.next
out
dist

# IDE and Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Supabase
.supabase

# Cache
.cache
.turbo
.temp
.tmp

# Misc
*.log
logs
*.pem
*.p12
*.key
*.crt
*.csr
*.cer
*.sst
*.sst2
*.pfx
*.p7b
*.p7c
*.p7s